<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reserve">

	<select id="getList" parameterType="reserveDto" resultType="reserveDto">
	SELECT *
		 FROM (SELECT result1.*, rownum as rnum
	 		  from (SELECT num, name, phone, rname, rphone, addr, rsdate, place, basic, big, over, reservetype, id
	 		  FROM reserve
	 		  where id=#{id} and reservetype='leave_insertform'
	 		  ORDER BY num DESC) result1)
	WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getList2" parameterType="reserveDto" resultType="reserveDto">
	SELECT *
		 FROM (SELECT result1.*, rownum as rnum
	 		  from (SELECT num, name, phone, rname, rphone, addr, rsdate, place, basic, big, over, reservetype, id
	 		  FROM reserve
	 		  where id=#{id} and reservetype='ent_insertform'
	 		  ORDER BY num DESC) result1)
	WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getData" parameterType="string" resultType="reserveDto">
	select name, phone, id
	from users
	where id=#{id}
	</select>
	
	<select id="updateData" parameterType="int" resultType="reserveDto">
		select *
		from reserve
		where num=#{num}
	</select>
	
	<select id="getCount" parameterType="reserveDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM reserve
		where id=#{id} and reservetype='leave_insertform'
	</select>
	
	<select id="getCount2" parameterType="reserveDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM reserve
		where id=#{id} and reservetype='ent_insertform'
	</select>	
	
	<insert id="insert" parameterType="reserveDto">
		INSERT INTO reserve
		(num, name, phone, rname, rphone,
		rsdate, place, basic, big, over, reservetype, id)
		VALUES(reserve_seq.NEXTVAL, #{name}, #{phone},
			#{rname}, #{rphone}, TO_DATE(#{rsdate}, 'YYYY-MM-DD"T"HH24:MI'), 
			#{place}, #{basic}, #{big}, #{over}, #{reservetype}, #{id})
	</insert>
	
	<insert id="insert2" parameterType="reserveDto">
		INSERT INTO reserve
		(num, name, phone, rsdate, addr,
		place, basic, big, over, reservetype, id)
		VALUES(reserve_seq.NEXTVAL, #{name}, #{phone},
			TO_DATE(#{rsdate}, 'YYYY-MM-DD"T"HH24:MI'),#{addr}, 
			#{place}, #{basic}, #{big}, #{over}, #{reservetype}, #{id})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM reserve
		WHERE num=#{num}
	</delete>
	
	<delete id="delete2" parameterType="int">
		DELETE FROM reserve
		WHERE num=#{num}
	</delete>
	
	<update id="update" parameterType="reserveDto">
		UPDATE reserve
		SET rname=#{rname}, rphone=#{rphone}, rsdate=TO_DATE(#{rsdate}, 'YYYY-MM-DD"T"HH24:MI'), place=#{place}, basic=#{basic}, big=#{big}, over=#{over}, reservetype=#{reservetype}
		WHERE num=#{num}
	</update>
	
	<update id="update2" parameterType="reserveDto">
		UPDATE reserve
		SET addr=#{addr}, rsdate=TO_DATE(#{rsdate}, 'YYYY-MM-DD"T"HH24:MI'), place=#{place}, basic=#{basic}, big=#{big}, over=#{over}, reservetype=#{reservetype}
		WHERE num=#{num}
	</update>
</mapper>